# Loan prediction

Load the libraries

In [689]:
import pandas as pd
import math
import numpy as np
import csv
from sklearn import preprocessing
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz

import matplotlib.pyplot as plt
%matplotlib inline

Load the data

In [690]:
loans = pd.read_csv('train_u6lujuX.csv')
test_data = pd.read_csv('test_Y3wMUE5.csv')

## Data Exploration

In [691]:
print len(loans)
print len(test_data)

614
367

**Gender**

In [692]:
print "---Train Data---"
print loans['Gender'].value_counts()
print "Number of NaN: ", loans['Gender'].isnull().sum()

print "---Test Data---"
print test_data['Gender'].value_counts()
print "Number of NaN: ", test_data['Gender'].isnull().sum()

def fun_gender(x):
    if x == 'Male':
        return 1
    elif x == 'Female':
        return 2
    else:
        return x
            
loans['Gender'] = loans['Gender'].apply(lambda x: fun_gender(x))
test_data['Gender'] = test_data['Gender'].apply(lambda x: fun_gender(x))

print "---Train Data---"
print loans['Gender'].value_counts()
print "Number of NaN: ", loans['Gender'].isnull().sum()

print "---Test Data---"
print test_data['Gender'].value_counts()
print "Number of NaN: ", test_data['Gender'].isnull().sum()

---Train Data---
Male      489
Female    112
dtype: int64
Number of NaN:  13
---Test Data---
Male      286
Female     70
dtype: int64
Number of NaN:  11
---Train Data---
1    489
2    112
dtype: int64
Number of NaN:  13
---Test Data---
1    286
2     70
dtype: int64
Number of NaN:  11

**Married**

In [693]:
print "---Train Data---"
print type(loans['Married'][0])
print loans['Married'].value_counts()
print "Number of NaN: ", loans['Married'].isnull().sum()

print "---Test Data---"
print type(test_data['Married'][0])
print test_data['Married'].value_counts()
print "Number of NaN: ", test_data['Married'].isnull().sum()

def fun_married(x):
    if x == 'No':
        return 1
    elif x == 'Yes':
        return 2
    else:
        return x
            
loans['Married'] = loans['Married'].apply(lambda x: fun_married(x))
test_data['Married'] = test_data['Married'].apply(lambda x: fun_married(x))

print "---Train Data---"
print type(loans['Married'][0])
print loans['Married'].value_counts()
print "Number of NaN: ", loans['Married'].isnull().sum()

print "---Test Data---"
print type(test_data['Married'][0])
print test_data['Married'].value_counts()
print "Number of NaN: ", test_data['Married'].isnull().sum()

---Train Data---
<type 'str'>
Yes    398
No     213
dtype: int64
Number of NaN:  3
---Test Data---
<type 'str'>
Yes    233
No     134
dtype: int64
Number of NaN:  0
---Train Data---
<type 'numpy.float64'>
2    398
1    213
dtype: int64
Number of NaN:  3
---Test Data---
<type 'numpy.int64'>
2    233
1    134
dtype: int64
Number of NaN:  0

**Dependents**

In [694]:
print "---Train Data---"
print type(loans['Dependents'][0])
print loans['Dependents'].value_counts()
print "Number of NaN: ", loans['Dependents'].isnull().sum()

print "---Test Data---"
print type(test_data['Dependents'][0])
print test_data['Dependents'].value_counts()
print "Number of NaN: ", test_data['Dependents'].isnull().sum()

def fun_dependents(x):
    if x == '0':
        return 1
    elif x == '1':
        return 2
    elif x == '2':
        return 3
    elif x == '3+':
        return 4
    else:
        return x
            
loans['Dependents'] = loans['Dependents'].apply(lambda x: fun_dependents(x))
test_data['Dependents'] = test_data['Dependents'].apply(lambda x: fun_dependents(x))

print "---Train Data---"
print type(loans['Dependents'][0])
print loans['Dependents'].value_counts()
print "Number of NaN: ", loans['Dependents'].isnull().sum()

print "---Test Data---"
print type(test_data['Dependents'][0])
print test_data['Dependents'].value_counts()
print "Number of NaN: ", test_data['Dependents'].isnull().sum()

---Train Data---
<type 'str'>
0     345
1     102
2     101
3+     51
dtype: int64
Number of NaN:  15
---Test Data---
<type 'str'>
0     200
2      59
1      58
3+     40
dtype: int64
Number of NaN:  10
---Train Data---
<type 'numpy.float64'>
1    345
2    102
3    101
4     51
dtype: int64
Number of NaN:  15
---Test Data---
<type 'numpy.float64'>
1    200
3     59
2     58
4     40
dtype: int64
Number of NaN:  10

**Education**

In [695]:
print "---Train Data---"
print type(loans['Education'][0])
print loans['Education'].value_counts()
print "Number of NaN: ", loans['Education'].isnull().sum()

print "---Test Data---"
print type(test_data['Education'][0])
print test_data['Education'].value_counts()
print "Number of NaN: ", test_data['Education'].isnull().sum()

loans['Education'] = loans['Education'].apply(lambda x: 1 if x == 'Graduate' else 2)
test_data['Education'] = test_data['Education'].apply(lambda x: 1 if x == 'Graduate' else 2)

print "---Train Data---"
print type(loans['Education'][0])
print loans['Education'].value_counts()
print "Number of NaN: ", loans['Education'].isnull().sum()

print "---Test Data---"
print type(test_data['Education'][0])
print test_data['Education'].value_counts()
print "Number of NaN: ", test_data['Education'].isnull().sum()

---Train Data---
<type 'str'>
Graduate        480
Not Graduate    134
dtype: int64
Number of NaN:  0
---Test Data---
<type 'str'>
Graduate        283
Not Graduate     84
dtype: int64
Number of NaN:  0
---Train Data---
<type 'numpy.int64'>
1    480
2    134
dtype: int64
Number of NaN:  0
---Test Data---
<type 'numpy.int64'>
1    283
2     84
dtype: int64
Number of NaN:  0

**Self_Employed**

In [696]:
print "---Train Data---"
print type(loans['Self_Employed'][0])
print loans['Self_Employed'].value_counts()
print "Number of NaN: ", loans['Self_Employed'].isnull().sum()

print "---Test Data---"
print type(test_data['Self_Employed'][0])
print test_data['Self_Employed'].value_counts()
print "Number of NaN: ", test_data['Self_Employed'].isnull().sum()

def fun_Self_Employed(x):
    if x == 'No':
        return 1
    elif x == 'Yes':
        return 2
    else:
        return x
        
loans['Self_Employed'] = loans['Self_Employed'].apply(lambda x: fun_Self_Employed(x))
test_data['Self_Employed'] = test_data['Self_Employed'].apply(lambda x: fun_Self_Employed(x))

print "---Train Data---"
print type(loans['Self_Employed'][0])
print loans['Self_Employed'].value_counts()
print "Number of NaN: ", loans['Self_Employed'].isnull().sum()

print "---Test Data---"
print type(test_data['Self_Employed'][0])
print test_data['Self_Employed'].value_counts()
print "Number of NaN: ", test_data['Self_Employed'].isnull().sum()

---Train Data---
<type 'str'>
No     500
Yes     82
dtype: int64
Number of NaN:  32
---Test Data---
<type 'str'>
No     307
Yes     37
dtype: int64
Number of NaN:  23
---Train Data---
<type 'numpy.float64'>
1    500
2     82
dtype: int64
Number of NaN:  32
---Test Data---
<type 'numpy.float64'>
1    307
2     37
dtype: int64
Number of NaN:  23

**ApplicantIncome**

In [697]:
print "---Train Data---"
print type(loans['ApplicantIncome'][0])
print loans['ApplicantIncome'].value_counts()
print "Number of NaN: ", loans['ApplicantIncome'].isnull().sum()

print "---Test Data---"
print type(test_data['ApplicantIncome'][0])
print test_data['ApplicantIncome'].value_counts()
print "Number of NaN: ", test_data['ApplicantIncome'].isnull().sum()

---Train Data---
<type 'numpy.int64'>
2500     9
4583     6
2600     6
6000     6
5000     5
4166     5
3333     5
3750     5
2400     4
8333     4
2583     4
6250     4
3500     3
5417     3
3000     3
2333     3
10000    3
3166     3
3167     3
4000     3
4333     3
3400     3
4750     2
3173     2
4300     2
5500     2
3510     2
3717     2
2917     2
3466     2
        ..
2755     1
4735     1
2720     1
3716     1
9357     1
2698     1
2699     1
3727     1
4755     1
2708     1
4758     1
14999    1
15000    1
2717     1
2718     1
674      1
3775     1
3748     1
5124     1
5829     1
5800     1
2149     1
3762     1
4931     1
5815     1
5818     1
5819     1
5821     1
2750     1
3691     1
dtype: int64
Number of NaN:  0
---Test Data---
<type 'numpy.int64'>
3500     6
5000     6
3333     5
7500     4
4333     4
2500     4
4083     3
5833     3
4000     3
6500     3
3417     3
10000    3
4483     2
2157     2
3276     2
2400     2
3391     2
4500     2
4700     2
5333     2
2166     2
3250     2
3958     2
2600     2
0        2
4742     2
2783     2
1516     2
1750     2
5667     2
        ..
2779     1
2914     1
1596     1
2917     1
2918     1
2964     1
7016     1
2922     1
3522     1
1900     1
2925     1
6478     1
1888     1
5314     1
2360     1
6958     1
3887     1
4912     1
4402     1
2356     1
8334     1
2362     1
3400     1
3900     1
3901     1
2366     1
2083     1
13633    1
3909     1
2875     1
dtype: int64
Number of NaN:  0

**CoapplicantIncome**

In [698]:
print "---Train Data---"
print type(loans['CoapplicantIncome'][0])
print loans['CoapplicantIncome'].value_counts()
print "Number of NaN: ", loans['CoapplicantIncome'].isnull().sum()

print "---Test Data---"
print type(test_data['CoapplicantIncome'][0])
print test_data['CoapplicantIncome'].value_counts()
print "Number of NaN: ", test_data['CoapplicantIncome'].isnull().sum()

---Train Data---
<type 'numpy.float64'>
0       273
2500      5
1666      5
2083      5
1750      3
2250      3
2333      3
1800      3
1459      3
1625      3
5625      3
1950      2
3000      2
1451      2
1717      2
1843      2
1430      2
3167      2
2054      2
2451      2
3750      2
4416      2
1640      2
2167      2
1917      2
3500      2
1667      2
2925      2
1300      2
4167      2
       ...
1400      1
1911      1
1398      1
2417      1
2416      1
1387      1
2375      1
2405      1
3428      1
4417      1
2400      1
2035      1
1881      1
3416      1
2857      1
2900      1
1875      1
1872      1
2383      1
4983      1
1868      1
1863      1
3906      1
1857      1
830       1
2365      1
1302      1
1851      1
2358      1
2816      1
dtype: int64
Number of NaN:  0
---Test Data---
<type 'numpy.int64'>
0        156
2000       3
700        3
2600       2
1083       2
2166       2
1760       2
1250       2
2333       2
833        2
750        2
2900       2
2400       2
910        2
3583       2
1517       2
1500       2
1497       1
2233       1
3077       1
1707       1
2730       1
1704       1
3750       1
4256       1
13983      1
2717       1
4246       1
2183       1
2708       1
        ...
1788       1
14507      1
250        1
1542       1
1270       1
2291       1
1380       1
292        1
296        1
2916       1
1350       1
2015       1
3422       1
2393       1
2529       1
2382       1
333        1
3916       1
4583       1
3396       1
818        1
2370       1
2024       1
8000       1
2367       1
3900       1
2360       1
820        1
1966       1
4347       1
dtype: int64
Number of NaN:  0

**LoanAmount**

In [699]:
print "---Train Data---"
print type(loans['LoanAmount'][0])
print loans['LoanAmount'].value_counts()
print "Number of NaN: ", loans['LoanAmount'].isnull().sum()

print "---Test Data---"
print type(test_data['LoanAmount'][0])
print test_data['LoanAmount'].value_counts()
print "Number of NaN: ", test_data['LoanAmount'].isnull().sum()

---Train Data---
<type 'numpy.float64'>
120    20
110    17
100    15
160    12
187    12
113    11
128    11
130    10
95      9
96      9
115     8
112     8
70      8
135     7
132     7
150     7
136     7
125     7
104     7
138     6
90      6
158     6
144     6
81      6
180     6
175     6
155     6
80      6
116     6
124     5
       ..
142     1
145     1
146     1
496     1
153     1
156     1
159     1
164     1
166     1
167     1
178     1
181     1
190     1
196     1
244     1
207     1
208     1
209     1
211     1
214     1
218     1
228     1
230     1
234     1
236     1
239     1
240     1
242     1
243     1
9       1
dtype: int64
Number of NaN:  22
---Test Data---
<type 'numpy.float64'>
150    12
125    11
110    10
187     9
120     9
90      9
100     9
130     8
108     8
135     7
80      6
176     5
185     5
131     5
104     5
200     5
122     5
160     5
162     4
126     4
123     4
117     4
116     4
138     4
140     4
102     4
70      4
152     4
105     4
65      4
       ..
208     1
209     1
213     1
214     1
225     1
232     1
234     1
235     1
177     1
166     1
66      1
163     1
93      1
98      1
103     1
109     1
112     1
240     1
121     1
390     1
137     1
141     1
142     1
151     1
153     1
155     1
412     1
157     1
159     1
256     1
dtype: int64
Number of NaN:  5

**Loan_Amount_Term**

In [700]:
print "---Train Data---"
print type(loans['Loan_Amount_Term'][0])
print loans['Loan_Amount_Term'].value_counts()
print "Number of NaN: ", loans['Loan_Amount_Term'].isnull().sum()

print "---Test Data---"
print type(test_data['Loan_Amount_Term'][0])
print test_data['Loan_Amount_Term'].value_counts()
print "Number of NaN: ", test_data['Loan_Amount_Term'].isnull().sum()

---Train Data---
<type 'numpy.float64'>
360    512
180     44
480     15
300     13
240      4
84       4
120      3
60       2
36       2
12       1
dtype: int64
Number of NaN:  14
---Test Data---
<type 'numpy.float64'>
360    311
180     22
480      8
300      7
240      4
84       3
60       1
120      1
36       1
350      1
12       1
6        1
dtype: int64
Number of NaN:  6

**Credit_History**

In [701]:
print "---Train Data---"
print type(loans['Credit_History'][0])
print loans['Credit_History'].value_counts()
print "Number of NaN: ", loans['Credit_History'].isnull().sum()

loans['Credit_History'] = loans['Credit_History'].apply(lambda x: 1 if x == 0 else 2)
test_data['Credit_History'] = test_data['Credit_History'].apply(lambda x: 1 if x == 0 else 2)

print "---Test Data---"
print type(test_data['Credit_History'][0])
print test_data['Credit_History'].value_counts()
print "Number of NaN: ", test_data['Credit_History'].isnull().sum()

---Train Data---
<type 'numpy.float64'>
1    475
0     89
dtype: int64
Number of NaN:  50
---Test Data---
<type 'numpy.int64'>
2    308
1     59
dtype: int64
Number of NaN:  0

**Property_Area**

In [702]:
print "---Train Data---"
print type(loans['Property_Area'][0])
print loans['Property_Area'].value_counts()
print "Number of NaN: ", loans['Property_Area'].isnull().sum()

print "---Test Data---"
print type(test_data['Property_Area'][0])
print test_data['Property_Area'].value_counts()
print "Number of NaN: ", test_data['Property_Area'].isnull().sum()

def fun_Property_Area(x):
    if x == 'Semiurban':
        return 1
    elif x == 'Urban':
        return 2
    elif x == 'Rural':
        return 3
    else:
        return x
        
loans['Property_Area'] = loans['Property_Area'].apply(lambda x: fun_Property_Area(x))
test_data['Property_Area'] = test_data['Property_Area'].apply(lambda x: fun_Property_Area(x))

print "---Train Data---"
print type(loans['Property_Area'][0])
print loans['Property_Area'].value_counts()
print "Number of NaN: ", loans['Property_Area'].isnull().sum()

print "---Test Data---"
print type(test_data['Property_Area'][0])
print test_data['Property_Area'].value_counts()
print "Number of NaN: ", test_data['Property_Area'].isnull().sum()

---Train Data---
<type 'str'>
Semiurban    233
Urban        202
Rural        179
dtype: int64
Number of NaN:  0
---Test Data---
<type 'str'>
Urban        140
Semiurban    116
Rural        111
dtype: int64
Number of NaN:  0
---Train Data---
<type 'numpy.int64'>
1    233
2    202
3    179
dtype: int64
Number of NaN:  0
---Test Data---
<type 'numpy.int64'>
2    140
1    116
3    111
dtype: int64
Number of NaN:  0

**Loan_Status**

In [703]:
print "---Train Data---"
print type(loans['Loan_Status'][0])
print loans['Loan_Status'].value_counts()
print "Number of NaN: ", loans['Loan_Status'].isnull().sum()

loans['Loan_Status'] = loans['Loan_Status'].apply(lambda x: -1 if x == 'N' else 1)

print "---Train Data---"
print type(loans['Loan_Status'][0])
print loans['Loan_Status'].value_counts()
print "Number of NaN: ", loans['Loan_Status'].isnull().sum()

print "---No Loan_Status in Test Data---"

---Train Data---
<type 'str'>
Y    422
N    192
dtype: int64
Number of NaN:  0
---Train Data---
<type 'numpy.int64'>
 1    422
-1    192
dtype: int64
Number of NaN:  0
---No Loan_Status in Test Data---

In [669]:
print loans.head()
print test_data.head()

    Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0  LP001002       0        0           0          0              0
1  LP001003       0        1           1          0              0
2  LP001005       0        1           0          0              1
3  LP001006       0        1           0          1              0
4  LP001008       0        0           0          0              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                  0         NaN               360
1             4583               1508         128               360
2             3000                  0          66               360
3             2583               2358         120               360
4             6000                  0         141               360

   Credit_History  Property_Area  Loan_Status
0               1              1            1
1               1              2           -1
2               1              1            1
3               1              1            1
4               1              1            1
    Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0  LP001015       0        1           0          0              0
1  LP001022       0        1           1          0              0
2  LP001031       0        1           2          0              0
3  LP001035       0        1           2          0              0
4  LP001051       0        0           0          1              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5720                  0         110               360
1             3076               1500         126               360
2             5000               1800         208               360
3             2340               2546         100               360
4             3276                  0          78               360

   Credit_History  Property_Area
0               1              1
1               1              1
2               1              1
3             NaN              1
4               1              1

### Features and Target

In [704]:
features = ['Gender', 
            'Married', 
            'Dependents',
            'Education',
            'Self_Employed',
            'ApplicantIncome', 
            'CoapplicantIncome',
            'LoanAmount',
            'Loan_Amount_Term',
            'Credit_History',
            'Property_Area']
target = 'Loan_Status'

loans = loans[features + [target]]
test_data_features = test_data[features]

### Imputation on Train Data

In [671]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(loans)
loans_data_np = imp.transform(loans)

loans_data = pd.DataFrame(loans_data_np, columns=loans.columns)

### Imputation on Test Data

In [672]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(test_data_features)
test_data_features_np = imp.transform(test_data_features)

test_data_features = pd.DataFrame(test_data_features_np, columns=features)

**TotalIncome**

In [673]:
print "---Train Data---"
loans_data['TotalIncome'] = loans_data['ApplicantIncome'] + loans_data['CoapplicantIncome']
print loans_data['TotalIncome'].head()

print "---Test Data---"
test_data_features['TotalIncome'] = test_data_features['ApplicantIncome'] + test_data_features['CoapplicantIncome']
print test_data_features['TotalIncome'].head()

---Train Data---
0    5849
1    6091
2    3000
3    4941
4    6000
Name: TotalIncome, dtype: float64
---Test Data---
0    5720
1    4576
2    6800
3    4886
4    3276
Name: TotalIncome, dtype: float64

**EMI**

In [674]:
print "---Train Data---"
loans_data['EMI'] = loans_data['LoanAmount'] / loans_data['Loan_Amount_Term']
print loans_data['EMI'].head()

print "---Test Data---"
test_data_features['EMI'] = test_data_features['LoanAmount'] / test_data_features['Loan_Amount_Term']
print test_data_features['EMI'].head()

---Train Data---
0    0.406700
1    0.355556
2    0.183333
3    0.333333
4    0.391667
Name: EMI, dtype: float64
---Test Data---
0    0.305556
1    0.350000
2    0.577778
3    0.277778
4    0.216667
Name: EMI, dtype: float64

In [1]:
features_m = ['Credit_History',
            'Property_Area']

## Training

In [685]:
X = loans_data[features_m]
y = loans_data[target]

dt = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=5)

#dt = DecisionTreeClassifier(max_depth=7, min_samples_split=600, random_state=99)
dt.fit(X, y)

AdaBoostClassifier(algorithm='SAMME',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best'),
          learning_rate=1.0, n_estimators=5, random_state=None)

## Making predictions using the model

In [686]:
predictions = dt.predict(test_data_features[features_m])
print predictions

[ 1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1. -1.  1.  1. -1.  1.  1.  1.  1. -1.  1.  1. -1. -1.  1. -1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1. -1.  1.  1.  1.  1.  1.
  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1. -1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1. -1. -1. -1.  1.  1.  1. -1. -1.  1.
 -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1.
  1.  1.  1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1. -1.
  1.  1.  1. -1. -1.  1. -1.  1.  1.  1.  1. -1. -1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1. -1.  1.  1. -1.  1.
 -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1. -1.  1.  1.  1.  1.
  1. -1. -1.  1.  1.  1.  1. -1.  1. -1.  1. -1.  1.  1.  1.  1. -1.  1.
  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1.
  1.  1.  1. -1. -1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.
  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.
  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.
  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.]

## Writing the submission file

In [687]:
loan_id = test_data['Loan_ID']
predictionsS = pd.Series(predictions)
loan_status_predictions = predictionsS.apply(lambda x: 'Y' if x == 1 else 'N')

In [688]:
with open('submission.csv', 'wb') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    spamwriter.writerow(['Loan_ID', 'Loan_Status'])
    for i in xrange(len(loan_id)):
        spamwriter.writerow([loan_id[i], loan_status_predictions[i]])