# Multiple Regression
We will use data on house sales in King County to predict prices using multiple regression. You will:
* Do some feature engineering
* Use built-in sklearn functions to compute the regression weights (coefficients/parameters)
* Given the regression weights, predictors and outcome write a function to compute the Residual Sum of Squares
* Look at coefficients and interpret their meanings
* Evaluate multiple models via RSS

In [57]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression

## Load house sales data
Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

Read data from csv file and put in dataframe.

In [93]:
sales = pd.read_csv('data/kc_housing_sales_data.csv')
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [13]:
# print the shape of the DataFrame
sales.shape

(21613, 21)

## Split data into training and testing
Split the data in train data and test data (80:20) ratio

In [6]:
train_data,test_data = train_test_split(sales, test_size = 0.2)

## Learning a multiple regression model
We can use the following code to learn a multiple regression model predicting 'price' based on the following features:

example_features = ['sqft_living', 'bedrooms', 'bathrooms'] on training data with the following code:

(Aside: We set validation_set = None to ensure that the results are always the same)

In [87]:
feature_cols = ['sqft_living', 'bedrooms', 'bathrooms']
X = train_data[example_features]
y = train_data.price

# Create linear regression object
lm = LinearRegression()

# Train the model using the training sets
lm.fit(X, y)

# print intercept and coefficients
print lm.intercept_
print lm.coef_

70034.6153597
[   312.09223148 -56885.47468074   6792.45503181]

In [88]:
# pair the feature names with the coefficients
zip(feature_cols, lm.coef_)

[('sqft_living', 312.09223147796951),
 ('bedrooms', -56885.474680742438),
 ('bathrooms', 6792.455031806232)]

In [89]:
# predict for a new observation
X_test = test_data[feature_cols] 
lm.predict(X_test)

array([ 399826.98248669,  429338.09187653,  355858.76487865, ...,
        917027.88858554,  274439.47949325,  427915.28331971])

## Compute RSS

In [45]:
def get_residual_sum_of_squares(model, data, outcome):
    # First get the predictions
    prediction = model.predict(data)

    # Then compute the residuals/errors
    residuals = prediction - outcome
    
    # Then square and add them up
    rss = sum(residuals * residuals)

    #return(RSS)    
    return rss

In [90]:
rss_example_train = get_residual_sum_of_squares(lm, X, train_data.price)
print rss_example_train

1.14543649881e+15

## Create some new features

Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, squarefeet, and # of bathrooms) but we can also consider transformations of existing features e.g. the log of the squarefeet or even "interaction" features such as the product of bedrooms and bathrooms.

Next create the following 4 new features as column in both TEST and TRAIN data:
* bedrooms_squared = bedrooms*bedrooms
* bed_bath_rooms = bedrooms*bathrooms
* log_sqft_living = log(sqft_living)
* lat_plus_long = lat + long As an example here's the first one:

In [53]:
train_data['bedrooms_squared'] =  train_data['bedrooms'] * train_data['bedrooms']
test_data['bedrooms_squared'] =  test_data['bedrooms'] * test_data['bedrooms']

In [54]:
train_data['bed_bath_rooms'] =  train_data['bedrooms'] * train_data['bathrooms']
test_data['bed_bath_rooms'] =  test_data['bedrooms'] * test_data['bathrooms']

In [58]:
train_data['log_sqft_living'] = np.log(train_data['sqft_living'])
test_data['log_sqft_living'] =  np.log(test_data['sqft_living'])

In [59]:
train_data['lat_plus_long'] = train_data['lat'] + train_data['long']
test_data['lat_plus_long'] =  test_data['lat'] + test_data['long']

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this feature will mostly affect houses with many bedrooms.
* bedrooms times bathrooms gives what's called an "interaction" feature. It is large when both of them are large.
* Taking the log of squarefeet has the effect of bringing large values closer together and spreading out small values.
* Adding latitude to longitude is totally non-sensical but we will do it anyway

## Learning Multiple Models

Now we will learn the weights for three (nested) models for predicting house prices. The first model will have the fewest features the second model will add one more feature and the third will add a few more:
* Model 1: squarefeet, # bedrooms, # bathrooms, latitude & longitude
* Model 2: add bedrooms*bathrooms
* Model 3: Add log squarefeet, bedrooms squared, and the (nonsensical) latitude + longitude

In [68]:
model_1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_2_features = model_1_features + ['bed_bath_rooms']
model_3_features = model_2_features + ['bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

Now that you have the features, learn the weights for the three different models for predicting target = 'price' and look at the value of the weights/coefficients:

### Model 1

In [67]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
10837,6844700510,20141203T000000,700000,4,2.50,2672,4297,2,0,0,...,0,98115,47.6955,-122.289,1720,6120,16,10.00,7.890583,-74.5935
10650,8564500240,20140527T000000,415000,5,1.50,1900,10226,1,0,0,...,0,98034,47.7226,-122.227,1690,10227,25,7.50,7.549609,-74.5044
5162,9320200050,20141216T000000,1500000,4,2.75,2930,25697,1,0,0,...,0,98004,47.6264,-122.226,3810,20681,16,11.00,7.982758,-74.5996
6160,2893000280,20150501T000000,216600,3,1.75,2200,7700,1,0,0,...,0,98031,47.4119,-122.181,1770,7360,9,5.25,7.696213,-74.7691
11702,16000200,20141024T000000,250000,3,2.25,1640,4420,2,0,0,...,1983,98002,47.3110,-122.210,1230,6632,9,6.75,7.402452,-74.8990

In [79]:
X_model_1 = train_data[model_1_features]
y_model_1 = train_data.price
lm_model_1 = LinearRegression()
lm_model_1.fit(X_model_1, y_model_1)
print lm_model_1.intercept_
print lm_model_1.coef_

-70061287.9109
[  3.10137064e+02  -5.33187832e+04   1.66145553e+04   6.60644244e+05
  -3.16510187e+05]

### Model 2

In [80]:
X_model_2 = train_data[model_2_features]
y_model_2 = train_data.price
lm_model_2 = LinearRegression()
lm_model_2.fit(X_model_2, y_model_2)
print lm_model_2.intercept_
print lm_model_2.coef_

-68004950.1421
[  3.04726527e+02  -1.03834912e+05  -6.66653130e+04   6.56593914e+05
  -3.02696520e+05   2.43131467e+04]

### Model 3

In [81]:
X_model_3 = train_data[model_3_features]
y_model_3 = train_data.price
lm_model_3 = LinearRegression()
lm_model_3.fit(X_model_3, y_model_3)
print lm_model_3.intercept_
print lm_model_3.coef_

-62665968.489
[  5.23540383e+02  -6.89255890e+03   9.22530375e+04   5.32970515e+05
  -4.09341005e+05  -1.51727762e+04   8.67116372e+02  -5.42495446e+05
   1.23629511e+05]

### Comparing multiple models

In [92]:
# RSS on training data
print get_residual_sum_of_squares(lm_model_1, X_model_1, train_data.price)
print get_residual_sum_of_squares(lm_model_2, X_model_2, train_data.price)
print get_residual_sum_of_squares(lm_model_3, X_model_3, train_data.price)

9.50980784684e+14
9.4240631382e+14
8.89875987072e+14